*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav-bg{
    background-color: #fafafa;
    color: black;
}
.nav-bg div a{
    color: black;
}


/* Upload Page */

.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
}
.container label{
    color: #732a2a;
    font-size: 20px;
    font-weight: 600;
}

.container input{
    font-size: 18px;
    font-weight: 500;

}

.btn{
    background: aqua;
    padding: 8px;
    height: 5vh;
    width: 30vw;
    font-size: 18px;
    font-weight: 600;
}
.btn:hover{
    background:rgb(130, 214, 214);
    cursor: pointer;
    transition: 1sec ease-in-out;
}

/*
Conatact Page
*/

.contact {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.contact-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.contact-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #444;
}

.contact-info p {
    margin: 10px 0;
    font-size: 18px;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #0056b3;
}


/* process html */
.process{
   display: flex;
   flex-direction: column;
   margin: 10px 40px;


}
.heading{
    background: #007BFF;
    padding: 15px;
    margin: 10px 10px ;
    text-align: center;
    border-radius: 5px;
}

.first-row{
    background-color: bisque;
    color: #732a2a;
    margin: 10px 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.head{
    background-color: #fff;
    color: #732a2a;
    text-align: center;
    border-collapse: collapse;
}

.process thead tr{
    text-align: center;
    align-items: center;
}
.img-histo{
    display: flex;
    align-items: center;
    text-align: center;
}
.histogram{
    width: 500px;
    height: 500px;
    
}