{% extends 'analyzer/base.html' %}
{% load static %}

{% block title %} Contact {% endblock %}



{% block content %}
<div class="contact" >

</div>
    <div class="contact-container">
        <h1>Contact Me</h1>
        <div class="contact-info">
            <p><strong>Email:</strong> <a href="mailto:k1509kunal@gmail.com">k1509kunal@gamil.com</a></p>
            <p><strong>Phone:</strong> <a href="tel:+91 8709198459">8709198459</a></p>
            <p><strong>Resume:</strong> <a href="" target="_blank">Download Resume</a></p>
        </div>
</div>
{% endblock %}
